@font-face {
  font-family: 'Outfit';
  font-weight: 400;
  src: url('/fonts/Outfit-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Outfit';
  font-weight: 700;
  src: url('/fonts/Outfit-Bold.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  &::-webkit-scrollbar {
    display: none;
  }
}
